@using WebApplication.Models
@model UserImportExcelVM
@using (Html.BeginForm("ImportFromExcel", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group row">
        <div class="col-md-8 mb-3">
            @Html.TextBoxFor(m => m.PostedFile, new { @class = "form-control", type = "file", accept = ".xlsx" })
            @Html.ValidationMessageFor(model => model.PostedFile, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 mb-3">
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                    <line x1="9" y1="12" x2="15" y2="12"></line>
                    <line x1="12" y1="9" x2="12" y2="15"></line>
                </svg>
                Nhập
            </button>
        </div>
    </div>
}
